<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Motivational Quotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/motivationalQuoteLogo.png">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
    <!-- Complied and minified JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>
<!-- add images to images folder and then save to db as /images/img_file_name.png -->
<body style="background: url(<%=background.backdrop%>); background-size: 100%">
    <div class="container">
        <h1>Get a fresh Quote Every Day</h1>
        
        <h4 id="today_quote">Today's Quote</h4>

        <div>
            <h5><%= quote.name %></h5>
        </div>
    </div>
</body>
</html>